In [1]:
import pandas as pd
import numpy as np

In [5]:
FILE_PATH_GAMES = '../data/nbaBettingData.csv'
FILE_PATH_DETAILED_GAMES = '../data/detailedNbaGamesData.csv'
FILE_PATH_RANKINGS = '../data/ranking.csv'

gamesDf = pd.read_csv(FILE_PATH_GAMES)
dGamesDf = pd.read_csv(FILE_PATH_DETAILED_GAMES)
rankingsDf = pd.read_csv(FILE_PATH_RANKINGS)

/var/folders/19/48sc_t714fz_96wrj2kckpy80000gn/T/ipykernel_45347/3547755855.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  dGamesDf = pd.read_csv(FILE_PATH_DETAILED_GAMES)

In [11]:
gamesDf['SEASON']

0        2022
1        2022
2        2022
3        2022
4        2022
         ...
26646    2014
26647    2014
26648    2014
26649    2014
26650    2014
Name: SEASON, Length: 26651, dtype: int64

In [9]:
rankingsDf

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210337,1610612765,0,22013,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29,NaN
210338,1610612738,0,22013,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32,NaN
210339,1610612753,0,22013,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37,NaN
210340,1610612755,0,22013,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32,NaN
210341,1610612749,0,22013,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36,NaN

In [12]:
rankingsDf["SEASON_ID"] = rankingsDf["SEASON_ID"].apply(lambda x: x - 20000 if x > 20000 else x )
rankingsDf["SEASON_ID"] = rankingsDf["SEASON_ID"].apply(lambda x: x - 10000 if x < 20000 and x > 3000 else x)

In [13]:
rankingsDf

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,2022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,2022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,2022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,2022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,2022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210337,1610612765,0,2013,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29,NaN
210338,1610612738,0,2013,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32,NaN
210339,1610612753,0,2013,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37,NaN
210340,1610612755,0,2013,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32,NaN
210341,1610612749,0,2013,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36,NaN