In [4]:
import pandas as pd

In [15]:
df = pd.read_csv('../data/nbaGames.csv')
filtered_df = df[['TEAM_CITY', 'PLAYER_ID', 'PLAYER_NAME', 'MIN', 'FG_PCT', 'FG3_PCT', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS']]

/var/folders/19/48sc_t714fz_96wrj2kckpy80000gn/T/ipykernel_25091/1590905023.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/nbaGames.csv')

In [16]:
selected_rows = filtered_df[filtered_df['PLAYER_NAME'] == 'LeBron James']
selected_rows

,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FG_PCT,FG3_PCT,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
276,Los Angeles,2544,LeBron James,34:00,0.524,0.000,0.900,0.0,6.0,6.0,11.0,0.0,2.0,2.0,0.0,31.0
837,Los Angeles,2544,LeBron James,36:33,0.542,0.250,0.750,1.0,6.0,7.0,9.0,0.0,1.0,0.0,0.0,33.0
1259,Los Angeles,2544,LeBron James,35:56,0.619,0.250,0.750,1.0,8.0,9.0,4.0,2.0,0.0,2.0,2.0,30.0
1738,Los Angeles,2544,LeBron James,42:47,0.560,0.273,0.500,0.0,9.0,9.0,9.0,2.0,1.0,4.0,4.0,33.0
1953,Los Angeles,2544,LeBron James,36:52,0.583,0.333,1.000,1.0,4.0,5.0,5.0,1.0,0.0,1.0,1.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666461,Miami,2544,LeBron James,29,0.250,0.250,0.833,0.0,4.0,4.0,8.0,2.0,1.0,2.0,2.0,10.0
667163,Miami,2544,LeBron James,27,0.545,0.000,0.500,0.0,4.0,4.0,8.0,4.0,0.0,2.0,1.0,13.0
667779,Miami,2544,LeBron James,20,0.625,0.000,0.500,0.0,3.0,3.0,4.0,3.0,0.0,0.0,0.0,11.0
668212,Miami,2544,LeBron James,26,0.545,0.000,0.889,2.0,3.0,5.0,5.0,1.0,0.0,2.0,1.0,20.0
668536,Miami,2544,LeBron James,23,0.417,0.000,0.000,0.0,6.0,6.0,6.0,1.0,0.0,2.0,0.0,10.0